<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button secondary menuToggle>Toggle Menu</button>
  <h4>Catholic Daily Reading</h4>

<div *ngIf="showDailyReading">
    <div ng-bind-html="dailyReading"></div>
    <hr>
    <label>Title:{{dailyReadingTitle}}</label>
    <hr>
    <label>Date: {{ dailyReadingDate | date }}</label>
    <p [innerHTML]="dailyReading"></p>
</div>
<div *ngIf="!showDailyReading">
  <Label>No Data Available at this time. Please try again!!!</Label>
</div>

</ion-content>
